<div class="about-me-wrapper">
    <div class="row">
        <div class="column column-50 column-offset-25">
            <h3>Conor Maguire</h3>
            <p>
                I make software.
            </p>
            <p>
                I am presently learning Angular2. I was working on Elixir and will back to that soon.
            </p>
            <p>
                When I am not working I am often learning something new, the most recent being TIG welding. I also spend a lot of time reading (104 books and graphic novels read so far this year) both fiction and non-fiction. I am using my time off to learn elixir, bang
                the rust off my dev skills, and work on some side projects.
            </p>
            <p>
                You can reach me by emailing conor at this domain or on LinkedIn.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="column column-50 column-offset-25">
            <a href="https://github.com/achromous">current github profile</a><br>
            <a href="https://www.goodreads.com/user/show/76885-conor">goodreads profile</a><br>
            <a href="https://www.linkedin.com/in/conor-maguire-985a434">LinkedIn</a><br>
        </div>
    </div>
</div>
