<div class="container">
    <nav class="Grid Grid--1of8">
        <div class="Grid-cell">
            <a routerLink="/about_me" routerLinkActive="active">About Me</a>
        </div>
        <div class="Grid-cell">
            <a routerLink="/blog" routerLinkActive="active">Blog</a>
        </div>
    </nav>
    <div class="Grid">
        <div class="Grid-cell u-1of8">
            <div>
                &nbsp;
            </div>
        </div>
        <div class="Grid-cell">
            <h1>{{title}}</h1>
        </div>
    </div>
    <div>
        <router-outlet></router-outlet>
    </div>
</div>
