.blog-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.blog-wrapper > * {
  flex-basis: 80vw;
}

a {
    text-decoration: none;
}

h5 {

}

hr {
    border-color: #999999;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}

.blog-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.posts-wrapper {
  width: 45vw;
}

.tag-cloud{
  width: 15vw;
}
